// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;


$color-white: #fff;
$color-black: #020a19;
$color-red:#dd0735;
$color-lite-gray:#bfc1c599;
$color-lite-white:#ffffffbf;
$color-dark-gray:#1a1c2b;
$color-bg-gray:#f7f7f7;
$color-lite-black:#333;
$color-border:#d7d7d7;
$color-footer:#f2f2f2;


// base spacing
$base-spacing: 20px;


// Font Weights
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-light: 300;

// Border Radius
$border-radius-small: 2px;
$border-radius-medium: 4px;
$border-radius-large: 8px;

// Z-Index
$z-index-low: 100;
$z-index-medium: 500;
$z-index-high: 1000;
$z-index-top: 2000;

// font primary
$primary-font: "Mulish", serif;