footer{
    padding: 2rem 0;
    background-color: $color-footer;
    color: #556575;
    font-size: 1.2rem;
    font-weight: 500;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include respond(phone){
            flex-direction: column;
        }
    }
    a{
        color: #556575;
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;
    }
    span{
        margin: 0 .5rem;
    }
}