.primary-btn{
    background-color: $color-red;
    color: $color-white;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.4rem;
    border-radius: .4rem;
    padding: 1.2rem 3.4rem;
    text-decoration: none;
    border-style: none;
}